body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 40px;
    text-align: center;
}

#introduction {
    color: #fff;
    height: 100vh; /* Make this section cover the whole screen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

#introduction video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.introduction-content {
    z-index: 1;
    padding: 20px;
}

.introduction-content h1 {
    font-size: 36px;
}

.introduction-content p {
    font-size: 18px;
}

#prediction, #about, #contact, #how-it-works {
    background-color: #f5f5f5;
    padding: 40px;
}

.fullscreen-section {
    height: 100vh; /* Make this section cover the whole screen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.prediction-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    flex: 1;
    margin: 10px;
    text-align: left;
}

#prediction select,
#prediction input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#prediction button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-left: auto; /* Shift the button to the right */
}
