<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    
    <title>EconVisor - Economic Indicator Predictor</title>
</head>
<body>
<!-- hamburger -->
<input type="checkbox" id="navi-toggle" class="checkbox" />

<label for="navi-toggle" class="button">
  <span class="icon">&nbsp;</span>
</label>
<div class="background">&nbsp;</div>

<!-- nav -->
<nav class="nav">
  <ul class="list">
        <li class="item"><a href="#prediction" class="link">Prediction</a></li>
        <li class="item"><a href="#about" class="link">About</a></li>
        <li class="item"><a href="#contact" class="link">Contact</a></li>
        <li class="item"><a href="#how-it-works" class="link">How It Works</a></li>
    </ul>
</nav>
    <section id="introduction" class="fullscreen-section">
        <video autoplay muted loop poster="poster-image.jpg">
            <source src="{{ url_for('static', filename='contents/backv.mp4') }}" type="video/mp4">
            Browser does not support the video tag.
        </video>
        <div class="introduction-content">
            <h1><a href="#about" id="introduction-content-h1">Econ<span style="color: #00b57c;">Visor</span></a></h1>
            <p></p>

        </div>
        <button class="gotopredict"><a href="#prediction">Lets Predict</a></button> 
    </section>
    


    <section id="about" class="fullscreen-section">
        <div class="about-container">
            <div class="about-text">
                <div class="about-logo">
                    <img src="{{ url_for('static', filename='contents/companylogo.png') }}" alt="Company Logo" style="max-height: 70px; margin: 20px auto;">
                </div>
                <h2 style="color: #c3ff019e;">About Us</h2>
                <p>We are a passionate team dedicated to providing innovative solutions for economic forecasting and analysis. Our mission is to make complex economic data accessible and understandable for everyone.</p>
                <p>With years of experience in the field, we strive to deliver accurate predictions and valuable insights to help businesses and individuals make informed decisions.</p>
                <p>
                    The EconVisor application, designed for interactive time series analysis, aims to empower a wide range of users, including policymakers, business leaders, and analysts, by predicting crucial economic indicators such as GDP, inflation, and unemployment. The tool enables users to customize forecasts based on industry type and future timelines, fostering granular insights essential for strategic decision-making in policy formulation, investment strategies, and resource allocation.
                </p>
            </div>
            <div class="about-image">
                <!-- Add a decorative image here -->
                <img src="{{ url_for('static', filename='contents/teamp.jpg') }}" alt="About Us Image">
            </div>
        </div>
    </section>

    
    <section id="how-it-works" class="fullscreen-section">
        <div class="how-it-works-cards">
            <div class="how-it-works-card">
                <img src="{{ url_for('static', filename='contents/dataprep.png') }}">
                <h3>Data Collection & Preprocessing</h3>
                <p>This phase involves gathering and preparing the raw data for analysis. It includes tasks such as cleaning the data, handling missing values, and transforming the data into a suitable format for model training.</p>
                <button onclick="openModal('modal1')">See How It Works</button>
            </div>
            
            <div class="how-it-works-card">
                <img src="{{ url_for('static', filename='contents/modelsel.jpg') }}">
                <h3>Model Selection & Tuning</h3>
                <p>In this stage, the appropriate machine learning model is chosen based on the nature of the problem. The model is then fine-tuned to achieve optimal performance, considering the dataset.</p>
                <button onclick="openModal('modal2')">See How It Works</button>
            </div>
            
            <div class="how-it-works-card">
                <img src="{{ url_for('static', filename='contents/predicn.png') }}">
                <h3>Model Training & Prediction</h3>
                <p>This step involves training the selected model on the prepared data. Once trained, the model can make predictions on new, unseen data. This phase is crucial for the deployment of the machine learning solution.</p>
                <button onclick="openModal('modal3')">See How It Works</button>
            </div>
            
        </div>
        
        <!-- Modals -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal1')">&times;</span>
                <img src="{{ url_for('static', filename='contents/Process_flowchart.png') }}" alt="Flowchart 1">
                <img src="{{ url_for('static', filename='contents/Process_flowchart.png') }}" alt="Flowchart 2">
            </div>
        </div>
        
        <div id="modal2" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal2')">&times;</span>
                <img src="{{ url_for('static', filename='contents/output.png') }}" alt="Flowchart 3">
                <img src="{{ url_for('static', filename='contents/Process_flowchart.png') }}" alt="Flowchart 4">
            </div>
        </div>
        
        <div id="modal3" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal3')">&times;</span>
                <img src="{{ url_for('static', filename='contents/Process_flowchart_prediction.png') }}" alt="Flowchart 5">
                <img src="{{ url_for('static', filename='contents/EconVisor Report (8).png') }}" alt="Flowchart 6">
            </div>
        </div>
    </section>

    <section id="prediction" class="fullscreen-section">
        <div class="prediction-container">
            <h2>Predict Economic Indicators</h2>
            <form id="economic-predictor-form" action="{{ url_for('economic_predictor') }}" method="post">

                <div class="input-container">
                    <label for="industry-type">Select Industry Type:</label>
                    <select id="industry-type" name="industry-type">
                        <option value="Agriculture">Agriculture</option>
                        <option value="Service">Service</option>
                        <option value="Manufacturing">Manufacturing</option>
                        <option value="Others">Others</option>
                        <option value="India">India Overall</option>
                    </select>
                </div>
                <div class="input-container" id="subsectors"style="display: none;">
                    <label for="subsector">Select Subsector (if applicable):</label>
                    <select id="subsector" name="subsector" >
                        <!-- Subsector options will be dynamically added here -->
                    </select>
                </div>
                <div class="input-container" style="display: grid; grid-template-columns: 200px 200px; column-gap: 20px;">
                    <div>
                    <label for="year">Select Year:</label>
                    <input type="number" id="year" name="year" min="2010" max="2050" required style="width: 180px;">
                </div>
                <div>
                    <label for="quarter">Select Quarter:</label>
                    <select id="quarter" name="quarter" required style="width: 180px;">
                        <option value="Q1">Q1</option>
                        <option value="Q2">Q2</option>
                        <option value="Q3">Q3</option>
                        <option value="Q4">Q4</option>
                    </select>
                </div>
            </div>

                <div class="modelsel">
                    <select id="select-model" name="select-model" required style="width: 240px;" >
                        <option value="" disabled selected>*Select a Model</option>
                        <option value="RandomForest">RandomForest</option>
                        <option value="ARIMA">ARIMA</option>
                        <option value="LSTM">LSTM</option>
                        <option value="RNN">RNN</option>
                    </select>
                </div>
                    <button type="submit" class="predictbtn">Predict</button>
            </form>
        </div>

    </section>

    <style>
        .vertical-split {
            display: flex;
            justify-content: space-between;
        }
    
        .references-half,
        .sources-half {
            width: 50%; /* Adjust the width as needed */
            margin-right: 0%; /* Adjust the margin as needed */
            margin: 0px 60px;
        }
    </style>
    
    <section id="References" class="fullscreen-section">
        <div class="vertical-split">
            <div class="references-half">
                <h2>References</h2>
                <ul class="references-list">
                    <li>
                        <span class="reference-title"><a href="https://www.frontiersin.org/articles/10.3389/frai.2021.757864" target="_blank">Forecasting GDP using machine learning: A comparison of different models</a></span>
                        <span class="reference-author">by Giovanni Maccarrone, Giacomo Morelli, and Sara Spadaccini</span>
                    </li>
                    <li>
                        <span class="reference-title"><a href="https://core.ac.uk/download/pdf/38047645.pdf" target="_blank">GDP Forecasting: A Literature Review</a></span>
                        <span class="reference-author">by Topi Tjukanov</span>
                    </li>
                    <li>
                        <span class="reference-title"><a href="https://www.economicshelp.org/blog/1976/economics/importance-of-economic-forecasts/" target="_blank">The Importance of Economic Forecasting for Business Decisions</a></span>
                        <span class="reference-author">by International Monetary Fund</span>
                    </li>
                    <li>
                        <span class="reference-title"><a href="https://www.sciencedirect.com/science/article/abs/pii/B9780444536839000050" target="_blank">The Role of Economic Forecasting in Government Policy Making</a></span>
                        <span class="reference-author">by Volker Wieland and Maik Wolters</span>
                    </li>
                    <li>
                        <span class="reference-title"><a href="https://scholar.harvard.edu/files/stock/files/time_series_economic_forecasting.pdf" target="_blank">Time Series Analysis and Forecasting in Economics</a></span>
                        <span class="reference-author">by Brockwell and Davis</span>
                    </li>
                    <li>
                        <span class="reference-title">Time series Forecasting Using ARIMA model</span>
                        <span class="reference-author">by Ayat Hamel and Baydaa Ismael (Year 2022)</span>
                    </li>
                    <li>
                        <span class="reference-title"><a href="#" target="_blank">Random Forest with Time Series</a></span>
                        <span class="reference-author">by Yigit Aydede (Year 2023)</span>
                    </li>
                    <li>
                        <span class="reference-title">Box-Jenkins: Time Series Analysis Forecasting and Control</span>
                        <span class="reference-author">by George E. P. Box, Gwilym M. Jenkins, and Graeme C. Reinsel (Year 1994)</span>
                    </li>
                </ul>
                
            </div>
            <div class="sources-half">
                <h2>Sources</h2>
                <ul class="sources-list">
                    <li>
                        <span class="source-title"><a href="source1.pdf" target="_blank">National Association of Software and Services Companies (NASSCOM)</a></span>
                    </li>
                    <li>
                        <span class="source-title"><a href="source2.pdf" target="_blank">The International Telecommunication Union (ITU),The World Bank</a></span>
                    </li>
                    <li>
                        <span class="source-title"><a href="source2.pdf" target="_blank">Ministry of Tourism (MoT), the Federation of Indian Chambers of Commerce and Industry (FICCI)</a></span>
                    </li>
                    <li>
                        <span class="source-title"><a href="source2.pdf" target="_blank">Society of Indian Automobile Manufacturers (SIAM)
                        </a></span>
                    </li>
                    <li>
                        <span class="source-title"><a href="source2.pdf" target="_blank">The Indian Pharmaceutical Alliance (IPA)
                        </a></span>
                    </li>
                    <li>
                        <span class="source-title"><a href="source2.pdf" target="_blank">Annual Building Construction Cost Index from 1981 to 2022

                        </a></span>
                    </li>
                    <li>
                        <span class="source-title"><a href="source2.pdf" target="_blank">Petroleum Planning and Analysis Cell (PPAC) of the Ministry of Petroleum and Natural Gas (MoPNG), Government of India
                        </a></span>
                    </li>
                    <li>
                        <span class="source-title"><a href="source2.pdf" target="_blank">Central Electricity Authority of India (CEA)
                        </a></span>
                    </li>
                    <!-- Add more sources as needed -->
                </ul>
            </div>
        </div>
    </section>
    <section id="contact" class="fullscreen-section">
        <div class="contact-form">
            <img src="{{ url_for('static', filename='contents/companylogo.png') }}" alt="Company Logo" class="logo">
            <form id="contform" action="#" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Your Name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Your Email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="5" placeholder="Your Message" required></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        
    </section>
    
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='contents/companylogo.png') }}" alt="Company Logo" style="max-width: 150px;">
            </div>
            <div class="footer-info">
                <p>&copy; 2023 EconVisor. All rights reserved.</p>
                <p>Contact: predictwithecon@blackbox.com</p>
            </div>
            <div class="social-icons">
                <a href="#"><img src="facebook_icon.png" alt="Facebook"></a>
                <a href="#"><img src="twitter_icon.png" alt="Twitter"></a>
                <a href="#"><img src="linkedin_icon.png" alt="LinkedIn"></a>
            </div>
        </div>
    </footer>
    
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

